<div class="center hero-unit">
  <h1>Welcome to fIT Life reports</h1>

  <h2>
    This is the reports page for fIT Life - A Fitness Management System
  </h2>

  <%= link_to "Get reports!!!!", report_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("fitlife.PNG", alt: "fIT Life"), '#' %>
